version: '3.3'

services:

  nginx:
    image: nginx
    container_name: ng01
    ports:
      - "80:8080"
    volumes:
      - ./src:/src
      - ./config/nginx:/etc/nginx/conf.d
    depends_on:
      - web

  web:
    build: .
    container_name: aplicacao1
    command: python src/API/manage.py runserver 0.0.0.0:8080
   
    volumes:
      - .:/code
    ports:
      - "8080:8080"
    depends_on:
      - db
  
  
  db:
    image: postgres
    container_name: dbpostgree
   
      
  migration:
    image: postgres
    container_name: migrations
    command: python src/API/manage.py migrate
    volumes:
      - .:/code
    depends_on:
      - db


