version: '3.3'

services:

  nginx:
    image: nginx
    container_name: ng01
    ports:
      - "80:8080"
    volumes:
      - ./src:/src
      - ./config/nginx:/etc/nginx/conf.d
    depends_on:
      - web

  web:
    build: .
    container_name: aplicacao1
    command: python src/API/manage.py runserver 0.0.0.0:8080
   
    volumes:
      - .:/code
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    image: postgres
    container_name: dbpostgree
    environment:
      POSTGRESQL_ADDON_HOST=bgejwgc7ew8hgb4jjmzn-postgresql.services.clever-cloud.com
      POSTGRESQL_ADDON_DB=bgejwgc7ew8hgb4jjmzn
      POSTGRESQL_ADDON_USER=utclm3iqa5n5gryhskhx
      POSTGRESQL_ADDON_PORT=5432
      POSTGRESQL_ADDON_PASSWORD=gR6jgAFRqqLFLU02w537 


